/* common */
body {
	background-color: #fff;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
hr {
	margin: 30px 0 24px 0;
}
ul {
	list-style: none;
}
ul, li {
	padding: 0;
}
.nav {
	background-color: #eeeeff;
	font-weight: bold;
	margin-bottom: 20px; 
	padding: 4px;
}
.nav a {
	color: #000;
}
.nav span {
	color: #fff;
	background-color: #00008b;
	padding: 0 4px;
}
.nav span,
.nav a {
	margin-right: 6px;
}

/* overview-summary */
table {
	width: 100%;
	border-collapse: collapse;
}
th {
	background-color: #ccccff;
    text-align: left;
    font-size: x-large;
}
th, td {
	padding: 3px;
	border: 2px ridge;
	vertical-align: top;
}

/* doc */
#template .summary .type {
	width: 80px;
	text-align: right;
	font-family: monospace;
}

.signature {
	font-family: monospace;
}
.signature a {
	font-weight: bold;
}

.variable .details,
.macro .details {
	margin-left: 40px;
}
.description {
	margin: 14px 0;
}
.summary .description {
	margin: 2px 0 0 32px;
}
h2 {
    background-color: #ccccff;
    padding: 3px;
    border: 2px ridge;
}
h4 {
	margin: 12px 0 8px 0;
}
pre {
	margin: 0 0 0 32px;
	padding: 0;
}

dt {
    font-weight: bold;
}
dd {
	margin: 8px 0 0 32px;
}

.parameters .name {
	font-family: monospace;
	font-weight: bold;
}
.parameters .description {
	display: block;
	margin: 2px 0 8px 0;
}

/* index-all */
#index-all li {
	margin-bottom: 12px;
}
#index-all li a {
	font-weight: bold;
	font-family: monospace;
}
#index-all li .description {
	margin: 0 0 0 32px;
}